<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Yash Kumar</h5>
            </div>
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>MonashSoftApp, is a cutting-edge software development firm specializing in creating innovative and scalable web applications tailored for e-commerce and logistics</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: yash0002&#64;student.monash.edu</p>
                <p>Student ID: 32796021</p>
                <p>Phone: +61401923427</p>
                <p>Address: Monash University Clayton</p>
            </div>
        </div>
    </div>
</div>